<html>
<head>
    <title>Express HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div style="margin:100px;">
    
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <a class="navbar-brand" href="/">PIMS 2022</a>
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li class="active">
              <a href="/person/all">Person List</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron"  style="padding:40px;">
        <h1>Edit person <%= user.first_name %></h1>
        <div>
         <form method="post" action="/person/save">
            <input name="id" type="hidden" class="form-control" value="<%= user.id %>"/>
            <div style="display: flex; gap: 24px; flex-direction: column;">
                <div class="mb-3">
                    <label for="first_name" class="form-label">Name: </label>
                    <input id="first_name" name="first_name" class="form-control" type="text" value="<%= user.first_name %>"/>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name: </label>
                    <input id="last_name" name="last_name" class="form-control" type="text" value="<%= user.last_name %>"/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input id="email" name="email" class="form-control" type="text" value="<%= user.email %>"/>
                </div>
                <div class="btn-group">
                    <button id="button" onclick="redirectTo()" class="btn btn-primary" style="width: 200px;">Back</button>
                    <button id="button" type="submit" class="btn btn-primary pull-right" style="width: 200px;">Edit</button>
                </div>
            </div>
         </form>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
    function redirectTo() {
        window.location.href="/person/all";
    }
</script>
