<html>
  <head>
    <title>Express HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div style="margin:100px;">
    
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <a class="navbar-brand" href="/">PIMS 2022</a>
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li class="active">
              <a href="/person/all">Person List</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron"  style="padding:40px;">
        <h1>Person list</h1>
        <div>
          <button class="btn btn-primary pull-right" onclick="window.location.href='/person/addPerson'">Add new person</button>
          <table class="table table-dark table-striped">
            <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i in users) { %>
                  <tr>
                      <td><%= users[i].first_name %></td>
                      <td><%= users[i].last_name %></td>
                      <td><%= users[i].email %></td>
                      <td><button onclick="window.location.href='/person/get/<%=users[i].id %>'">Edit</button></td>
                      <td><button onclick="removeUser('<%=users[i].first_name%>', '<%=users[i].id%>')">Delete</button></td>
                    </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function removeUser(name, id) {
    var r = confirm("User " + name + " will be deleted");
    r ? (window.location.href='/person/remove/'+ id) : alert("User is not deleted");
  }
</script>
